/* RSEST */
*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* VARIABLES */

:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color:#252830;
    --hover-light-color: var(--light-color);
    --hovesr-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-size-xsm: 1.2rem;
    --font-size-sm:1.6rem;
    --font-size-md:2.4rem;
    --font-size-lg:3rem;
    --font-size-xl:4rem;
    --gap:2rem;
    --margin-sm: 2rem;
    --margin-md:3rem;
    --item-min-height-sm: 20rem;
    --item-height-md:30rem;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: var(--font-size-md);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s, color .25s;
}
a {
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}
ul{
    list-style: none;
}

input,
button {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

i {
    font-size: var(--font-size-sm);
}

body.light-theme {
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color:#fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --transparent-light-color: #252830;
    --transparent-dark-color: rgba(0,0,0,.1);
    --font-size-xsm: 1.2rem;

}

.container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;

}
.place-items-center{
    display: inline-flex;
    align-items:center;
    justify-content: center;
}

.screen-sm-hidden{
    display: none;
}

.header {
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo {
    font-size: var(--font-size-md);
    color: var(--light-color);

}

.menu {
    position: absolute;
    top: 6rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color: var(--secondary-background-color);
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;
}


.list {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu >.list{
    flex-direction: column;
}

.list-link.current{
    color: var(--light-color);

}

.close-menu-icon {
    display: none;
}

.btn {
    cursor:pointer;
}

.list-link:hover,
.btn-hover,
.btn-hover span{   
    color: var(--light-color);

}

.moon-icon {
    display: none;
}

.light-theme .sun-icon{
    display: none;
}

.light-theme .moon-icon {
    display: block;
}

.header.activated{
    box-shadow: 0 1px .5rem var(--transparent-light-color);
}
.menu.activated{
    box-shadow: 1 1px 1rem var(--transparent-light-color);
    opacity: 1;
    transform: scale(1);
}

.menu-toggle-icon.activate.open-menu-icon{
    display: none;
}
.menu-toggle-icon.activate.close-menu-icon{
    display: block;
}


/* FEATURED BLOGS */

/* QUICK READ */
/*OLDER POSTS*/
.older-posts-grid-wrapper{
    gap: var(--gap);
}
.older-posts-article-image-wrapper,
.older-posts .article {
    min-height: var(--item-min-height-sm);
}
.older-posts .article{
background-color: var(--secondary-background-color);
}
.older-posts-article-image-wrapper{
position: relative;
}
.older-posts-grid-wrapper .article-data-container{
position: static;
background-color: transparent;
}
.older-posts-grid-wrapper .article-title{
    margin-bottom: var(--margin-sm);
}
.see-more-container{
    margin-top: var(--margin-md);
}
.see-more-btn{
    text-transform:uppercase ;
}
.see-more-btn i{
    transition:transform .25s;
}
.see-more-btn:hover i {
    transform: translateX(.5rem);
}
  /* POPULAR TAGS*/
  .popular-tags-container{
    gap: var(--gap);
}
.popular-tags-container .article{
    min-height: var(--item-min-height-sm);
}
.tag-name{
    padding: 1rem 2rem;
    background-color: var(--transparent-dark-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.popular-tags-container .article:hover .tag-name{
    color: var(--light-color);
}
.popular-tags-container .article{
    overflow: hidden;
}
.popular-tags-container .article:hover .article-image{
    transform: scale(1.05);
}

<<<<<<< HEAD
/* newsletter */
.newsletter {
    padding-bottom: 6rem;
}

.newsletter-title {
    font-size: var(--font-size-lg);
}

.newsletter-description {
    margin-bottom: 3rem;
}

.footer {
    background-color: rgb(70, 69, 69);
}

footer-container {
    gap: var(--gap);
}

.company-data {
    display: flex;
    flex-direction: column;
    order: 1;
}

.company-description {
    margin-block: var(--margin-sm);
    max-width: 75%;
}
.social-media {
    margin-bottom: var(--margin-md);
}

.copyright-notice {
    opacity: .8;
}

.footer-list {
    flex-direction: column;
    align-items: flex-start;
}

.footer-title {
    font-size: var(--font-size-md);
    text-transform: uppercase;
    margin-bottom: var(--margin-sm);
}

::-webkit-scrollbar {
    width: 2rem;
}

::-webkit-scrollbar-track {
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #3f4254;
}

::-webkit-scrollbar-thumb:hover {
    background: #2e303b;
}

/* media queries */
@media screen and (min-width: 700px){
    .trending-news-box {
        flex-direction: row;
        align-items: center;
    }
    .trending-news-image-box {
        width: 50%;
    }

    .trending-news-data {
        margin: auto;
        text-align: center;
    }

    .newsletter-description {
        max-width: 4rem;
    }

    .popular-tags-container,
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-container-inner {
        align-items: center;
    }

    .company-data {
        order: 0;
    }

    .author {
        grid-template-columns: 25rem 1fr;
    }
}

@media screen and (min-width: 768px) {
    .featured-content{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5rem repeat(4, 1fr);
    }

    .headline-banner {
        grid-column: 1 / -1;
        font-size: var(--font-size-sm);
    }
    .featured-article {
        grid-column: 3 /-1;
        grid-row: 2 / 4;
    }
    .featured-article-1 {
        grid-column: 1 / 3;
    }
    .featured-article-3 {
        grid-column: 1 / -1;
        grid-row: 4/6;
    }
    .older-posts -article {
        grid-template-columns: 25rem ifr;
    }
    .older-posts-article-image-wrapper{
        height: auto;
    }

    .blog-post-data img {
        height: var(--item-min-height-md);
    }
}

@media screen and (min-width: 1024px) {
        .menu {
            position: initial;
            width: initial;
            padding: initial;
            background-color: transparent;
            opacity: initial;
            transform: initial;
        }

        .menu > .list {
            flex-direction: row;
        }

        .screen-lg-hidden {
            display: none;
        }

        .screen-sm-hidden {
            display: block;
        }

        .sign-up-btn {
            padding: .4rem;
        }
        .btn.fancy-border:hover::before{
            animation: animate_border .75s linear infinite;
        }

        @keyframes animate_border {
            from{
                transform: translate(0);
            }
            to{
                transform: translate(-50%);
            }
        }

        .featured-article-container{
            grid-template-columns: 1fr 40rem;
        }

        .trending-news-image-box {
            width: 10rem;
            height: 10rem;
        }
        .popular-tags-container {
            grid-template-columns: repeat(3,1fr);
        }
        .footer-container {
            grid-template-columns: repeat(5,1fr);
        }

        .company-data {
            grid-column: span 2;
        }

        .company-description {
            max-width: 85%;
        }

        .copyright-notice {
            margin-top: auto;
        }

        .blog-post-data img{
            height: 40rem;
        }

}

@media screen and (min-width: 1200px) {
    .older-posts-grid-wrapper {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 1500px) {
    .featured-article {
        grid-template-columns: 3/-1;
    }

    .featured-article-1 {
        grid-column: 1/3;
        grid-row: 2/-1;
    }
}
</body>
</html>